
/* nav bar styles atarted */
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-items a{
    text-decoration: none;
    color: white;
}
.dropdown-list{
    list-style-type: none;
   
}
.header-btn a{
text-decoration: none;
}