body {
     padding: 0;
     margin: 0;
     background: #f2f6e9;
 }
 .navbar {
     background:#56d715;
 }
 .nav-link,
 .navbar-brand {
     color: #fff;
     cursor: pointer;
 }
 .nav-link {
     margin-right: 1em !important;
 }
 .nav-link:hover {
     color: blue;
 }
 .navbar-collapse {
     justify-content: flex-end;
 }
 h2 {
     text-align: center;
     border: 1px solid rgb(161, 143, 143);
 }
 h2:hover{
     background-color: black;
     color: white;
 }