
*{
    margin: 0;
}

.header-container{
    background-color: rgb(60, 151, 255);
    padding: 10px;
}
.header-container img{
    width: 300px;
}
.container{
    margin-top: 15px;
    display: flex;
}
.menu{
    margin-left: 20px;
}


 .menu-element{
    list-style-type: none;
    padding: 10px;
    border: 1px solid rgb(60, 151, 255);
    text-align: center;
    margin-top: 10px;
    color: white;
}
.menu-element a{
    text-decoration: none;
    text-align: center;
    color: rgb(60, 151, 255);
    /* padding: 10px; */
}

/* right section styles */
.section-elements{
    
    border: 1px solid  rgb(60, 151, 255) ;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
.section-tite{
    border: 1px solid  rgb(60, 151, 255) ;
    background-color: rgb(222, 240, 255);
    padding-left: 10px;
   
    
}
.section-content{
    margin-top: 5px;
}
footer{
    margin-top: 15px;
    padding: 20px;
    background-color:  rgb(60, 151, 255) ;
    color: white;
    text-align: center;
}