
body {
    overflow-x: hidden;
}

.logo-img {
    width: 50%;
}


header{
    background-color: antiquewhite;

}

.banner {
    margin-top: 40px;
}

.banner h1 {
    font-size: 60px;
}


.jacket-section {
    margin-top: 50px;
}

.my-card-img {
    width: 70%;
}

.img-bg {
    
    background-color: rgba(211, 211, 211, 0.479);
}
